# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/
.venv/

# Ignore .env file
.env

# Ignore IDE-specific files
.vscode/
.idea/


build/
dist/
*.egg-info/

.pytest_cache/

Thumbs.db 

*.log